*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  .container{
    margin: 0 auto;
    width: 560px;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 30px;
    box-shadow: 2px 3px 2px #555;
  }
  p{
    padding: 20px;
    font-size: 20px;
    font-family: mono;
  }
  p .hint{
    text-decoration: underline;
  }
  .form-group{
    padding: 10px 20px;
    width: 100%;
    display: flex;
  }
  .form-group input{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    border-color: #000;
  }
  .form-group input[type=text]{
    width: 65%;
  }
  .form-group input[type=button]:hover{
    background-color: #000;
    color: #fff;
  }
  .output{
    background-color: #f4f4f4;
    font-size: 18px;
    padding: 20px;
    border-radius: 30px;
    border-color: #000;
  }